<div class="view" id="view">
  <img src="/images/cat.png" class="cat" />
  {{#if src}}
    <img src="{{src}}" class="cat"/>
  {{/if}}
</div>
<div class="actions">
  <div class="div-wrap">
    <form method="POST">
      <table class="space">
        <thead></thead>
        <tbody>
          <tr>
            <td><input class="btn btn-default btn-large" name="work" type="submit" value="Work!"></td>
            <td><input class="btn btn-default btn-large" name="toy" type="submit" value="Toy!"></td>
            <td><input class="btn btn-default btn-large" name="treat" type="submit" value="Treat!"></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <td><input class="btn btn-default btn-large" name="cuddle" type="submit" value="Cuddle!"></td>
            <td><input class="btn btn-default btn-large" name="milk" type="submit" value="Milk!"></td>
            <td><input class="btn btn-default btn-large" name="shop" type="button" value="Shop!" id="shop"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>


  <div class="stats div-wrap">
    <div class="stat-name"><h1 id="cat-name">{{name}}</h1><img src="/images/paw_prints.png" class="img-small" /></div>
    <table>
      <thead></thead>
      <tbody>
        <tr class="stat" id="mood">
          <td class="stat-label"><p class="stat-label">Mood</p></td> 
          <td class="stat-text">{{mood}}</td>
        </tr>
        <tr class="stat" id="hunger">
          <td class="stat-label"><p class="stat-label">Hunger</p></td>
          <td class="stat-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{hunger}}" aria-valuemin="0" aria-valuemax="100" style="width: {{hunger}}%">
              </div>
            </div>
          </td>
        </tr>
        <tr class="stat" id="thirst">
          <td class="stat-label"><p class="stat-label">Thirst</p></td>
          <td class="stat-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{thirst}}" aria-valuemin="0" aria-valuemax="100" style="width: {{thirst}}%">
              </div>
            </div>
          </td>
        </tr>
        <tr class="stat" id="energy">
          <td class="stat-label"><p class="stat-label">Energy</p></td>
          <td class="stat-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="{{energy}}" aria-valuemin="0" aria-valuemax="100" style="width: {{energy}}%">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="div-wrap">
    <table>
      <thead></thead>
      <tbody>
        <tr class="gold-row">
          <td class="stat-label"><div class="gold-label"><p class="stat-label"><img src="/images/gold.png" class="img-gold"> Gold</div></td>
          <td class="gold-count"><div class="gold-count"><p id="gold-text">{{gold}}</p></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="container-shop">
  <input type="button" class="btn btn-default btn-upgrade btn-exit" value="x" id="exit"> <h1>Shop</h1>
  <table class="space">
    <thead></thead>
    <tbody>
      <tr>
        <td><button class="btn btn-default btn-large" id="nyan" onClick="buyItem(this);">Nyan Costume</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript" src="/javascripts/shop.js"></script>